---
import BaseLayout from '@/layouts/BaseLayout'
import ListPosts from '@/components/ListPosts'
import ListCategories from '@/components/ListCategories'
import PageTitle from '@/components/PageTitle'
import { getNonArchivedPosts } from 'src/lib'
import { CATEGORIES } from '@/data/categories'
import { siteConfig } from '@/data/site.config'
import Pagination from '@/components/Pagination'

export async function getStaticPaths({ paginate }: any) {
	const allPosts = await getNonArchivedPosts()

	return CATEGORIES.flatMap((category: string) => {
		const categoryName = category.toLowerCase()
		const filteredPosts = allPosts.filter((post) => post.category.toLowerCase() === categoryName)

		return paginate(filteredPosts, {
			params: {
				category: category.toLowerCase()
			},
			pageSize: siteConfig.paginationSize
		})
	})
}
const params = Astro.params
const { page } = Astro.props

const category = params.category
const posts = page.data
---

<BaseLayout title={category}>
	<PageTitle title={category} />
	<ListCategories activeCategory={category} />
	<div>
		<div class='flex flex-row justify-between'>
			<h1 class='text-start text-lg font-medium'>
				Page {(page as { currentPage: number }).currentPage}
			</h1>
			<h1 class='text-end text-lg font-medium tracking-wide capitalize'>
				{category}
			</h1>
		</div>
		<div data-pagefind-ignore='all'>
			<ListPosts FirstBig={true} posts={posts} />
		</div>
	</div>
	<Pagination page={page} />
</BaseLayout>
