---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import IssuesCard from 'src/components/IssuesCard.astro'
import { getTags } from '@/utils'
const tags = await getTags()
const Issues = tags.map((tag, index) => {
	return {
		title: tag,
		description: `Issue ${tag}`,
		img: `/oct2023/cover.jpg`,
		url: `/issues/${tag}`,
		issuuLink: `https://issuu.com/vp.antherpress/docs/q54gt79wurf`
	}
})
---

<BaseLayout title='Issues'>
	<TitlePage title='Issues' />
	<div class='grid grid-cols-1 lg:grid-cols-2 gap-4'>
		{
			Issues.map((issue) => (
				<IssuesCard
					title={issue.title}
					img={issue.img}
					url={issue.url}
					issuuLink={issue.issuuLink}
				/>
			))
		}
	</div>
</BaseLayout>
