---
import BaseLayout from '@/layouts/BaseLayout'
import PageTitle from '@/components/PageTitle'
import IssuesCard from 'src/components/IssuesCard.astro'
import { getCollection } from 'astro:content'
const allIssues = await getCollection('issues')
---

<BaseLayout title='Issues'>
	<PageTitle title='Issues' />
	<div class='grid grid-cols-1 lg:grid-cols-2 gap-4'>
		{
			allIssues.map((issue) => (
				<IssuesCard
					title={issue.data.name}
					description={issue.data.description}
					img={issue.data.coverImage}
					url={`/issues/${issue.id}`}
					issuuLink={issue.data.issuuLink}
					archived={issue.data.archived}
				/>
			))
		}
	</div>
</BaseLayout>
