---
import BaseLayout from '@/layouts/BaseLayout'
import PageTitle from '@/components/PageTitle'
import IssuesCard from 'src/components/IssuesCard.astro'
import { sortIssuesByDate } from 'src/lib'
import directus from 'src/lib/directus'
import { readItems } from '@directus/sdk'
const allIssues = await directus.request(
	readItems('issue', {
		fields: ['id', 'slug', 'name', 'description', 'coverImage', 'issuuLink', 'archived']
	})
)
sortIssuesByDate(allIssues)
---

<BaseLayout title='Issues'>
	<PageTitle title='Issues' />
	<div class='grid grid-cols-1 gap-4 lg:grid-cols-2'>
		{
			allIssues.map((issue: any) => (
				<IssuesCard
					title={issue.name}
					description={issue.description}
					img={issue.coverImage}
					url={`/issues/${issue.slug}`}
					issuuLink={issue.issuuLink}
					archived={issue.archived}
				/>
			))
		}
	</div>
</BaseLayout>
