---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
import IssuesCard from 'src/components/IssuesCard.astro'
import { ISSUES } from '@/data/issues.ts'
import { sluglify } from '@/utils'
---

<BaseLayout title='Issues'>
	<TitlePage title='Issues' />
	<div class='grid grid-cols-1 lg:grid-cols-2 gap-4'>
		{
			ISSUES.map((issue) => (
				<IssuesCard
					title={issue.name}
					description={issue.description}
					img={issue.coverImage}
					url={`/issues/${sluglify(issue.name).toLowerCase()}`}
					issuuLink={issue.issuuLink}
				/>
			))
		}
	</div>
</BaseLayout>
