---
import { Image } from 'astro:assets'
import ExternalLink from './icons/ExternalLink.astro'
import ArrowRightS from './icons/ArrowRightS.astro'
import { directusAssetsUrl } from 'src/lib/directus'
type Props = {
	title: string
	description: string
	img: string
	url: string
	issuuLink: string
	archived: boolean
}

const { title, description, img, url, issuuLink, archived } = Astro.props
---

<div
	class='overflow-hidden rounded-xl border bg-zinc-200 shadow-xs sm:flex dark:border-gray-700 dark:bg-[rgba(39,39,42,0.5)] dark:shadow-slate-700/[.7]'
>
	<div
		class='relative w-full shrink-0 rounded-t-xl sm:max-w-[15rem] sm:rounded-s-xl md:max-w-xs md:rounded-se-none'
	>
		<Image
			src={directusAssetsUrl + img}
			alt=`Cover of the ${title} issue`
			width='1200'
			height='900'
			class='h-full min-w-full object-cover'
			loading='eager'
		/>
		{
			archived && (
				<p class='absolute bottom-3 left-3 rounded-md bg-slate-100 px-2 py-1.5 text-xs font-bold text-slate-800 sm:inline-block dark:bg-slate-900 dark:text-slate-100'>
					Archived
				</p>
			)
		}
	</div>
	<div class='flex w-full flex-col'>
		<div class='flex h-full flex-col p-4 sm:p-7'>
			<h1 class='text-2xl font-bold text-gray-800 dark:text-white'>
				{title}
			</h1>
			<p class='mt-2 text-gray-600 dark:text-gray-400'>
				{description}
			</p>
		</div>
		<div class='m-4 flex flex-col gap-2'>
			<a
				data-umami-event='Viewed Articles Link'
				href={url}
				class='inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-cs-primary px-4 py-3 text-sm font-semibold text-white disabled:pointer-events-none disabled:opacity-50 dark:bg-cs-secondary dark:text-black dark:focus:ring-1 dark:focus:ring-gray-600 dark:focus:outline-hidden'
			>
				<p class='mr-auto'>Read Articles</p>
				<ArrowRightS />
			</a>

			<a
				data-umami-event='Viewed Issuu Link'
				href={issuuLink}
				target='_blank'
				class='inline-flex items-center gap-x-2 rounded-lg border border-transparent bg-cs-secondary px-4 py-3 text-sm font-semibold text-black disabled:pointer-events-none disabled:opacity-50 dark:bg-cs-primary dark:text-white dark:focus:ring-1 dark:focus:ring-gray-600 dark:focus:outline-hidden'
			>
				<p class='mr-auto'>Read on Issuu</p>
				<ExternalLink />
			</a>
		</div>
	</div>
</div>
