---
import { Image } from 'astro:assets'
import ExternalLink from './icons/ExternalLink.astro'
import ArrowRightS from './icons/ArrowRightS.astro'
type Props = {
	title: string
	description: string
	img: ImageMetadata
	url: string
	issuuLink: string
}

const { title, description, img, url, issuuLink } = Astro.props
---

<div
	class='bg-zinc-200 border rounded-xl shadow-sm sm:flex dark:bg-[rgba(15,23,42,0.5)] dark:border-gray-700 dark:shadow-slate-700/[.7] overflow-hidden'
>
	<div
		class='flex-shrink-0 relative w-full rounded-t-xl sm:rounded-s-xl sm:max-w-[15rem] md:rounded-se-none md:max-w-xs'
	>
		<Image
			src={img}
			alt=`Cover Image of the ${title} Issue`
			width='1200'
			height='900'
			class='h-full min-w-full object-cover'
			loading='eager'
		/>
	</div>
	<div class='flex flex-col w-full'>
		<div class='p-4 flex flex-col h-full sm:p-7'>
			<h1 class='text-2xl font-bold text-gray-800 dark:text-white'>
				{title}
			</h1>
			<p class='mt-2 text-gray-600 dark:text-gray-400'>
				{description}
			</p>
		</div>
		<div class='flex flex-col m-4 gap-2'>
			<button
				onclick=`window.location.href='${url}';`
				type='button'
				class='py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-primary dark:bg-secondary text-white dark:text-black disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
			>
				<p class='mr-auto'>Read Articles</p>
				<ArrowRightS />
			</button>
			<button
				onclick=`window.location.href='${issuuLink}';`
				type='button'
				class='py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-secondary dark:bg-primary text-black dark:text-white disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600'
			>
				<p class='mr-auto'>Read on Issuu</p>
				<ExternalLink />
			</button>
		</div>
	</div>
</div>
