---
import { cn } from 'src/lib'
import { Image } from 'astro:assets'
import { directusAssetsUrl, type Post } from 'src/lib/directus'

type Props = {
	posts: Post[]
}

const { posts } = Astro.props
---

<section class={cn(`grid lg:grid-cols-3 lg:grid-rows-1 grid-cols-1 grid-rows-3 gap-8`)}>
	{
		posts.length > 0 ? (
			posts.map(async (post: Post) => {
				return (
					<a
						class='group flex flex-col h-full border border-gray-200 hover:border-gray-300 transition-all duration-300 rounded-xl p-5 dark:border-gray-700 dark:hover:border-gray-600'
						href={`/articles/${post.slug}/`}
					>
						<div class='aspect-w-16 aspect-h-11'>
							<Image
								src={`${directusAssetsUrl + post.heroImage}?width=500`}
								width={600}
								height={200}
								format='webp'
								class='w-full h-40 object-cover rounded-xl'
								alt={post.alt}
							/>
						</div>
						<div class='my-6'>
							<div class='mb-3'>
								<p class='inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200'>
									{post.category.substring(0, 1).toUpperCase() + post.category.substring(1)}
								</p>
							</div>
							<h1 class='text-xl font-semibold text-gray-800 dark:text-gray-300 dark:group-hover:text-white'>
								{post.title}
							</h1>
							<p class='mt-5 text-gray-600 dark:text-gray-400'>{post.description}</p>
						</div>
						<div class='mt-auto flex items-center gap-x-3'>
							<div>
								<p class='text-sm text-gray-800 dark:text-gray-200'>{post.readTime}</p>
							</div>
						</div>
					</a>
				)
			})
		) : (
			<span class='text-gray-500'>There are no related posts yet. 😢</span>
		)
	}
</section>
