---
import { cn } from '@/utils'
import { Image } from 'astro:assets'
import { readItem } from '@directus/sdk'
import directus, { directusAssetsUrl, type Post } from 'src/lib/directus'

type Props = {
	posts: Post[]
	FirstBig?: boolean
}

const { posts, FirstBig = false } = Astro.props
---

<section
	class={cn(
		`grid grid-cols-1 lg:grid-cols-2 gap-8 mt-3`,
		FirstBig && `lg:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map(async (post: Post) => {
			//@ts-ignore
			const authorData = await directus.request(readItem('author', post.authors[0].author_id))

			return (
				<a
					class='lg:first:w-full lg:first:max-w-none w-full sm:max-w-[32rem] mx-auto group/card'
					href={`/articles/${post.slug}/`}
				>
					<div
						class='cursor-pointer overflow-hidden relative card h-96 rounded-md shadow-xl w-full sm:min-w-[32rem] lg:first:w-full backgroundImage flex flex-col justify-between p-4 bg-cover bg-center'
						style={`background-image: url('${directusAssetsUrl + post.heroImage}');`}
					>
						<div class='absolute w-full h-full top-0 left-0 bg-black opacity-[0.55] transition duration-300 group-hover/card:opacity-60' />
						<div class='flex flex-row z-10'>
							<div class='flex flex-row items-center space-x-4'>
								<Image
									height='100'
									width='100'
									format='webp'
									alt={authorData.name + "'s Profile"}
									src={`${directusAssetsUrl + authorData.photo}?width=500` || '/author/default.jpg'}
									class='size-10 rounded-full border-2 object-cover'
								/>
								<div class='flex flex-col'>
									<p class='font-normal text-base text-gray-50 relative z-10'>{authorData.name}</p>
									<p class='text-sm text-gray-400'>{post.readTime}</p>
								</div>
							</div>
							<div class='ml-auto justify-center items-center h-full'>
								<p class='inline-flex items-center py-1.5 px-3 rounded-md text-xs font-semibold bg-slate-100 text-slate-800 dark:bg-slate-900 dark:text-slate-100'>
									{post.category.substring(0, 1).toUpperCase() + post.category.substring(1)}
								</p>
							</div>
						</div>
						<div class='text content'>
							<h1 class='font-bold text-xl md:text-2xl text-gray-50 relative z-10'>{post.title}</h1>
							<p class='font-normal text-sm text-gray-50 relative z-10 my-4'>{post.description}</p>
						</div>
					</div>
				</a>
			)
		})
	}
</section>
