---
import { Image } from 'astro:assets'

const {
	data: { title, description, issue, heroImage, category, alt },
	readTime,
	slug,
	cover
} = Astro.props
---

<a class='group sm:flex' href={`/articles/${slug}/`}>
	<div
		class='lg:first:w-1/2 flex-shrink-0 relative rounded-xl overflow-hidden w-full h-[200px] sm:w-[250px] sm:h-[350px]'
	>
		<Image
			src={heroImage}
			width={600}
			height={200}
			format='webp'
			class='h-full min-w-full object-cover hover:scale-[101%] transition-all duration-200 rounded-[2px]'
			alt={alt}
		/>
	</div>

	<div class='grow'>
		<div class='p-4 flex flex-col h-full sm:p-6'>
			<div class='mb-3'>
				<p
					class='inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200'
				>
					{category}
				</p>
			</div>
			<h1 class='text-lg sm:text-2xl font-semibold text-gray-800 dark:text-gray-300'>
				{title}
			</h1>
			<p class='mt-2 text-gray-600 dark:text-gray-400'>
				{description}
			</p>

			<div class='mt-5 sm:mt-auto'>
				<div class='flex items-center'>
					<div>
						<h2 class='text-sm font-semibold text-gray-800 dark:text-gray-200'>
							{issue}
						</h2>
						<p class='text-xs text-gray-700 dark:text-gray-300'>
							{readTime}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</a>
<!-- End Card -->

<script>
	import { animate } from 'motion'

	const images = document.querySelectorAll('img')

	document.addEventListener('DOMContentLoaded', function () {
		const showAnimations = localStorage.getItem('animations') === 'true'

		if (showAnimations) {
			animate(
				'.effect',
				{
					opacity: [0, 1],
					clipPath: ['circle(0% at 0% 0%)', 'circle(100% at 50% 50%)']
				},
				{ duration: 2, easing: 'ease' }
			)
		} else {
			images.forEach((img) => {
				img.classList.remove('opacity-0')
			})
		}
	})
</script>
