---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@/layouts/BaseLayout'
import Tag from '@/components/Tag'
import { sluglify } from '@/utils'
import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'

type Props = {
	id: CollectionEntry<'blog'>['id']
	data: CollectionEntry<'blog'>['data']
	headings: MarkdownHeading[]
	readTime: string
}

const { data, readTime, headings, id } = Astro.props
const { title, description, heroImage, tags, category, issue, alt } = data
---

<BaseLayout title={title} description={description} image={heroImage?.src} issue={issue}>
	<article class='min-w-full md:py-4 sm:max-w-none md:max-w-none'>
		<header class='mb-3 flex flex-col justify-center items-center gap-6'>
			<div class='flex flex-wrap justify-center items-center gap-2 gap-y-4 md:gap-5'>
				{category && <Tag tag={category} category={true} />}
				{tags.map((tag: string) => <Tag tag={tag} category={false} />)}
			</div>
			<div class='w-full flex flex-col gap-2 text-center font-semibold'>
				<h1 class='text-center text-4xl md:text-6xl md:pb-2.5 font-[650] text-balance'>
					{title}
				</h1>
				<a href={`/issues/${sluglify(issue).toLowerCase()}`}>
					<p class='text-primary dark:text-secondary'>
						{issue}
					</p>
				</a>
				<p class='text-opacity-50'>
					{readTime}
				</p>
			</div>
		</header>

		<>
			{
				heroImage && (
					<Image
						src={heroImage}
						width={1000}
						height={500}
						quality={100}
						format='jpg'
						loading='eager'
						class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
						alt={alt}
					/>
				)
			}
		</>

		<hr />

		<div>
			<slot />
		</div>
	</article>
</BaseLayout>
