---
import BaseLayout from '@/layouts/BaseLayout'
import Tag from '@/components/Tag'
// import type { MarkdownHeading } from 'astro'
import { Image } from 'astro:assets'
import type { Post } from 'src/lib/directus'
import { directusAssetsUrl } from 'src/lib/directus'

type Props = {
	id: Post['id']
	data: Post
	// headings: MarkdownHeading[]
	readTime: string
}

const { data, id } = Astro.props
const { title, description, heroImage, tags, category, issue, alt, readTime } = data
---

<html lang='en' class='scroll-smooth'>
	<BaseLayout title={title} description={description} image={heroImage} issue={issue}>
		<article class='min-w-full sm:max-w-none md:max-w-none md:py-4'>
			<header class='mb-3 flex flex-col items-center justify-center gap-6'>
				<div class='flex w-full flex-col gap-2 text-center font-semibold'>
					<a href={`/issues/${issue.slug}`}>
						<p
							class='text-cs-primary underline sm:no-underline sm:hover:underline dark:text-cs-secondary'
						>
							{issue.name}
						</p>
					</a>
					<h1 class='text-center text-5xl font-[650] text-balance md:mb-2.5 md:text-6xl'>
						{title}
					</h1>

					<p>{description}</p>

					<div
						class='mt-4 flex flex-col flex-wrap items-center justify-center text-base sm:flex-row'
					>
						<div class='border-gray-300 sm:border-r sm:pr-2 dark:border-gray-700'>
							{category ? <Tag tag={category} category={true} /> : ''}
						</div>
						<div class='flex flex-row items-center'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								class='icon icon-tabler icon-tabler-tags mr-1 ml-2 size-7 opacity-80 sm:ml-4'
								viewBox='0 0 24 24'
								stroke-width='1.5'
								stroke='currentColor'
								fill='none'
								stroke-linecap='round'
								stroke-linejoin='round'
							>
								<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
								<path
									d='M3 8v4.172a2 2 0 0 0 .586 1.414l5.71 5.71a2.41 2.41 0 0 0 3.408 0l3.592 -3.592a2.41 2.41 0 0 0 0 -3.408l-5.71 -5.71a2 2 0 0 0 -1.414 -.586h-4.172a2 2 0 0 0 -2 2z'
								></path>
								<path d='M18 19l1.592 -1.592a4.82 4.82 0 0 0 0 -6.816l-4.592 -4.592'></path>
								<path d='M7 10h-.01'></path>
							</svg>
							<div class='mr-2 flex'>
								{tags.map((tag: string) => <Tag tag={tag} category={false} />)}
							</div>
						</div>
						<div class='flex flex-row'>
							<div class='mr-2 border-gray-300 sm:border-l sm:pl-4 dark:border-gray-700'>
								<svg
									xmlns='http://www.w3.org/2000/svg'
									class='icon icon-tabler icon-tabler-clock size-6 opacity-80'
									viewBox='0 0 24 24'
									stroke-width='1.5'
									stroke='currentColor'
									fill='none'
									stroke-linecap='round'
									stroke-linejoin='round'
								>
									<path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
									<path d='M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0'></path>
									<path d='M12 7v5l3 3'></path>
								</svg>
							</div>
							{readTime}
						</div>
					</div>
				</div>
			</header>
			<>
				{
					heroImage && (
						<Image
							src={directusAssetsUrl + heroImage}
							width={1000}
							height={500}
							quality={100}
							format='jpg'
							loading='eager'
							class='my-8 max-h-[300px] w-full rounded-md object-cover md:max-h-[500px]'
							alt={alt}
						/>
					)
				}
			</>
			<hr />

			<div>
				<slot />
			</div>
		</article>
	</BaseLayout>
</html>
